<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<title>Online REPL Javascript Dive Planner</title>
	<meta name="description" content="Online web-based REPL Javascript programmatic scuba diving decompression planner." />
	<meta name="keywords" content="javascript, console, sandbox, repl, scuba diving, buhlmann, programmatic, decompression" />
	<link rel="canonical" href="http://deco-planner.archisgore.com" />

	<link href="http://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Stylesheet -->
    <link href="src/sandbox.css" rel="stylesheet"/>

</head>

<body>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56982159-3', 'auto');
  ga('send', 'pageview');

</script>

	<!-- HTML -->
	
	<h1>Online Programmatic Javascript Dive Planner (With GUI)</h1>

	<h2>A javascript console to programmatically compute dive plans.</h2>
<div class="yui3-skin-sam">

<div class="content">


		<div id="topLevelTabs">

			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-gui-planner">GUI Planner</a></li>
				<li><a href="#tab-javascript-editor">Javascript Editor</a></li>
				<li><a href="#tab-repl-console">REPL Console</a></li>
			</ul>

			<div class="tab-content">
				<div id="tab-gui-planner" class="tab-pane">
                    <div id="bottomGassesTable" style="display:inline-block; vertical-align: top;" ></div>
                    <div id="decoGassesTable" style="display:inline-block; vertical-align: top;"></div>
                    <div id="diveSegmentsTable" style="display:inline-block; vertical-align: top;"></div>
                    </br>
                    <div id="otherSettings">
                        Gf Low: <input id="gfLow" size="5" value="0.2"/>
                        Gf High: <input id="gfHigh" size="5" value="0.8"/>
                        ppO2 for Deco: <input id="ppO2" size="5" value="1.6"/>
                        max END (in meters) for Deco: <input id="end" size="5" value="30"/>
                    </div>
                    <div id="buttons" style="display:inline-block; vertical-align: top;">
                        <button id="addBottomGas"></button>
                        <button id="addDecoGas"></button>
                        <button id="addDiveSegment"></button>
                        </br>
                        <button id="generateJsPlan"></button>
                        <button id="calculateDeco"></button>
                    </div>
				</div>
				<div id="tab-javascript-editor">
					<div id="javascriptEditor"></div>
                    <button id="executeFromEditor"></button>

                    <div id="javascriptEditorOutputScrollNode" style="overflow-y: scroll; height: 300px">
                        <h4 id="javascriptEditorResults">Results</h4>
                        <pre id="javascriptEditorResultsText"></pre>
                        <h4 id="javascriptEditorOutput">Console Output</h4>
                        <pre id="javascriptEditorConsoleOutputText"></pre>
                    </div>

				</div>

				<div id="tab-repl-console" class="tab-pane">


                    <div id="sandbox">sandbox console loading...</div>

				</div>
			</div>

		</div>



    <div id="getGasModal"></div>

		<p>Maintained by <strong><a href="http://archisgore.com" title="Archis Gore" target="_blank">Archis Gore</a> </strong></p>
		<p>You can haz source code! <a href="https://github.com/archisgore/online-deco-console" title="online programmatic javascript dive planner">Online Dive Planner console github repo</a>.</p>
	</div>

</div>

<!-- Scripts -->


<script src="http://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
<script src="src/scuba-dive.browserified.js"></script>

<script type="text/javascript">

        var dive = require("/scuba-dive.js");

        var consoleShim = {
            log: function (m) {
                this.capturedText = this.capturedText + '\n' + m;
            },
            capturedText: ""
        };


        function Evaluator(console) {
            var that = this;

            that.evalHelper = function (str) {
                that.evalHelper = function (str) {
                    try {
                        return JSON.stringify(eval(str), null, 2);
                    } catch (e) {
                        return e.toString();
                    }
                };
            };
        }
        Evaluator.prototype.evaluate = function (str) {
            return this.evalHelper(str);
        };

        var evaluator = new Evaluator(consoleShim);

        evaluator.evaluate("var a=5;"); //give it a nudge

        function deepCompare () {
            var i, l, leftChain, rightChain;

            function compare2Objects (x, y) {
                var p;

                // remember that NaN === NaN returns false
                // and isNaN(undefined) returns true
                if (isNaN(x) && isNaN(y) && typeof x === 'number' && typeof y === 'number') {
                    return true;
                }

                // Compare primitives and functions.
                // Check if both arguments link to the same object.
                // Especially useful on step when comparing prototypes
                if (x === y) {
                    return true;
                }

                // Works in case when functions are created in constructor.
                // Comparing dates is a common scenario. Another built-ins?
                // We can even handle functions passed across iframes
                if ((typeof x === 'function' && typeof y === 'function') ||
                        (x instanceof Date && y instanceof Date) ||
                        (x instanceof RegExp && y instanceof RegExp) ||
                        (x instanceof String && y instanceof String) ||
                        (x instanceof Number && y instanceof Number)) {
                    return x.toString() === y.toString();
                }

                // At last checking prototypes as good a we can
                if (!(x instanceof Object && y instanceof Object)) {
                    return false;
                }

                if (x.isPrototypeOf(y) || y.isPrototypeOf(x)) {
                    return false;
                }

                if (x.constructor !== y.constructor) {
                    return false;
                }

                if (x.prototype !== y.prototype) {
                    return false;
                }

                // Check for infinitive linking loops
                if (leftChain.indexOf(x) > -1 || rightChain.indexOf(y) > -1) {
                    return false;
                }

                // Quick checking of one object beeing a subset of another.
                // todo: cache the structure of arguments[0] for performance
                for (p in y) {
                    if (y.hasOwnProperty(p) !== x.hasOwnProperty(p)) {
                        return false;
                    }
                    else if (typeof y[p] !== typeof x[p]) {
                        return false;
                    }
                }

                for (p in x) {
                    if (y.hasOwnProperty(p) !== x.hasOwnProperty(p)) {
                        return false;
                    }
                    else if (typeof y[p] !== typeof x[p]) {
                        return false;
                    }

                    switch (typeof (x[p])) {
                        case 'object':
                        case 'function':

                            leftChain.push(x);
                            rightChain.push(y);

                            if (!compare2Objects (x[p], y[p])) {
                                return false;
                            }

                            leftChain.pop();
                            rightChain.pop();
                            break;

                        default:
                            if (x[p] !== y[p]) {
                                return false;
                            }
                            break;
                    }
                }

                return true;
            }

            if (arguments.length < 1) {
                return true; //Die silently? Don't know how to handle such case, please help...
                // throw "Need two or more arguments to compare";
            }

            for (i = 1, l = arguments.length; i < l; i++) {

                leftChain = []; //Todo: this can be cached
                rightChain = [];

                if (!compare2Objects(arguments[0], arguments[i])) {
                    return false;
                }
            }

            return true;
        }

        function populateEditorWithDivePlan(Y) {
            //generate javascript text for dive plan
            var jsText = 'var buhlmann = dive.deco.buhlmann();\n' +
                    'var plan = new buhlmann.plan(buhlmann.ZH16BTissues);\n';

            //add bottom gasses
            var bottomGasses = bottomGassesTable.get("recordset");
            for (var gasIndex in bottomGasses) {
                var bottomGas = bottomGasses[gasIndex];
                var bottomGassesLine = 'plan.addBottomGas("' + bottomGas.name + '", ' + bottomGas.fO2  + ', ' + bottomGas.fHe + ');\n';
                jsText = jsText + bottomGassesLine;
            }

            //add deco gasses
            var decoGasses = decoGassesTable.get("recordset");
            for (var gasIndex in decoGasses) {
                var decoGas = decoGasses[gasIndex];
                var decoGassesLine = 'plan.addDecoGas("' + decoGas.name + '", ' + decoGas.fO2  + ', ' + decoGas.fHe + ');\n';
                jsText = jsText + decoGassesLine;
            }

            //add segments
            var diveSegments = diveSegmentsTable.get("recordset");
            for (var segmentIndex in diveSegments) {
                var diveSegment = diveSegments[segmentIndex];
                var diveSegmentLine = 'plan.addDepthChange(' +diveSegment.startDepth+ ', ' +diveSegment.endDepth+ ', "' + diveSegment.gasName+ '", ' +diveSegment.time+');\n';
                jsText = jsText + diveSegmentLine;
            }

            var gfLow = parseFloat(Y.one("#gfLow").get("value"));
            if (isNaN(gfLow)) {
                alert("gfLow has to be a number.");
                return
            }
            var gfHigh = parseFloat(Y.one("#gfHigh").get("value"));
            if (isNaN(gfHigh)) {
                alert("gfHigh has to be a number.");
                return
            }
            var maxppO2 = parseFloat(Y.one("#ppO2").get("value"));
            if (isNaN(maxppO2)) {
                alert("maxppO2 has to be a number.");
                return
            }
            var maxEnd = parseFloat(Y.one("#end").get("value"));
            if (isNaN(maxEnd)) {
                alert("gmaxEndfLow has to be a number.");
                return
            }

            //add deco line
            jsText = jsText + 'plan.calculateDecompression(false, ' + gfLow + ', ' + gfHigh + ', ' + maxppO2 + ', ' + maxEnd+');';
            jsEditor.set("value", jsText);
            jsEditor.render();
        }

        function executeCodeInEditor(Y) {
            var jsResultsText = Y.one("#javascriptEditorResultsText");
            var jsConsoleOutputText = Y.one("#javascriptEditorConsoleOutputText");
            var editorjs = jsEditor.get("value");
            var result = evaluator.evaluate(editorjs);
            jsResultsText.set("innerText", result);
            jsConsoleOutputText.set("innerText", consoleShim.capturedText);
            consoleShim.capturedText = "";
        }

        var topLevelTabs;
		YUI().use(
				'aui-tabview',
				function(Y) {
					topLevelTabs = new Y.TabView(
							{
								srcNode: '#topLevelTabs'
							}
					).render();
				}
		);

        var jsEditor;
        YUI().use(
                'aui-ace-editor',
                function(Y) {

                    var editorValue =
                    'var buhlmann = dive.deco.buhlmann();\n' +
                    'var plan = new buhlmann.plan(buhlmann.ZH16BTissues);\n' +
                    'plan.addBottomGas("2135", 0.21, 0.35);\n' +
                    'plan.addDecoGas("50%", 0.50, 0);\n' +
                    'plan.addDecoGas("Oxygen 100%", 1.0, 0.0);\n' +
                    'plan.addDepthChange(0, dive.feetToMeters(150), "2135", 5);\n' +
                    'plan.addFlat(dive.feetToMeters(150), "2135", 25);\n' +
                    '\n' +
                    'plan.calculateDecompression(false, 0.2, 0.8, 1.6, 30);';

                    jsEditor = new Y.AceEditor(
                            {
                                boundingBox: '#javascriptEditor',
                                height: '200',
                                value: editorValue,
                                width: '900',
                                mode: "javascript",
                                enableBasicAutocompletion: true
                            }
                    ).render();

                }
        );

        YUI().use(
                'aui-button',
                function(Y) {
                    new Y.Button(
                            {
                                icon: 'icon-print',
                                iconAlign: 'left',
                                label: 'Execute Code',
                                srcNode: '#executeFromEditor'
                            }
                    ).render();

                    new Y.Button(
                            {
                                icon: 'icon-print',
                                iconAlign: 'left',
                                label: 'Add a Bottom Mix',
                                srcNode: '#addBottomGas'
                            }
                    ).render();
                    new Y.Button(
                            {
                                icon: 'icon-print',
                                iconAlign: 'left',
                                label: 'Add a Deco Mix',
                                srcNode: '#addDecoGas'
                            }
                    ).render();
                    new Y.Button(
                            {
                                icon: 'icon-print',
                                iconAlign: 'left',
                                label: 'Add Dive Segment',
                                srcNode: '#addDiveSegment'
                            }
                    ).render();


                    new Y.Button(
                            {
                                label: 'Generate Javascript Code',
                                srcNode: '#generateJsPlan'
                            }
                    ).render();

                    new Y.Button(
                            {
                                label: 'Calculate Decompression',
                                srcNode: '#calculateDeco'
                            }
                    ).render();

                    Y.one('#addBottomGas').on(
                            'click',
                            function() {
                                var val = addGasSelectionToTable(bottomGassesTable);
                            }
                    );
                    Y.one('#addDecoGas').on(
                            'click',
                            function() {
                                var val = addGasSelectionToTable(decoGassesTable);
                            }
                    );

                    Y.one('#addDiveSegment').on(
                            'click',
                            function() {
                                addDiveSegment();
                            }
                    );

                    Y.one('#generateJsPlan').on(
                        'click',
                            function() {
                                populateEditorWithDivePlan(Y);
                                topLevelTabs.selectChild(1);
                            }
                    );

                    Y.one('#calculateDeco').on(
                            'click',
                            function() {
                                populateEditorWithDivePlan(Y);
                                executeCodeInEditor(Y);
                                var resultsText = Y.one("#javascriptEditorResultsText").get("innerText");
                                //alert(resultsText);
                                var results = JSON.parse(resultsText);
                                //alert(results);

                                //now repopulate segments back in the segment table
                                //add segments
                                var diveSegments = []
                                for (var resultIndex in results) {
                                    var diveSegment = results[resultIndex];
                                    diveSegments.push(diveSegment);
                                }
                                diveSegmentsTable.set('recordset', diveSegments);
                                diveSegmentsTable.render();
                            }
                    );

                    Y.one("#executeFromEditor").on(
                            'click',
                            function(event) {
                                executeCodeInEditor(Y);
                            }
                    );
                }
        );

        var decoGassesTable;
        var bottomGassesTable;
        var diveSegmentsTable;


        YUI().use(
                'aui-datatable',
                function(Y) {


                    function removeRow(e) {
                        // Don't pass `{silent:true}` if there are other objects in your app
                        // that need to be notified of the checkbox change.
                        var entry = JSON.parse(JSON.stringify(this.getRecord(e.target))); //.set('select', checked, { silent: true });
                        var recordset = this.get("recordset");
                        console.log(recordset);
                        var newrecordset = [];
                        for (var i in recordset) {
                            var entrycandidate = recordset[i];
                            if (!deepCompare(entry, entrycandidate)) {
                                console.log(entrycandidate);
                                newrecordset.push(entrycandidate);
                            }
                        }

                        this.set("recordset", newrecordset);
                        this.render();
                    }

                    var bottomGassesColumns = [
                        {key: 'name', label: "Label"},
                        {key: 'fO2', label: "Fraction O2"},
                        {key: 'fHe', label: "Fraction He"},
                        {
                            key: "remove",
                            allowHtml: true,
                            label:      '',
                            formatter: '<button/>',
                            emptyCellValue: '<button/>'
                        }
                    ];

                    var bottomGassesData = [
                        {name: "32%", fO2: 0.32, fHe: 0},
                        {name: "30/30", fO2: 0.30, fHe: 0.30},
                        {name: "21/35", fO2: 0.21, fHe: 0.35},
                        {name: "18/45", fO2: 0.18, fHe: 0.45},
                        {name: "15/55", fO2: 0.15, fHe: 0.55},
                        {name: "10/70", fO2: 0.10, fHe: 0.70}
                    ];


                    bottomGassesTable = new Y.DataTable.Base(
                            {
                                columnset: bottomGassesColumns,
                                recordset: bottomGassesData,
                                caption: "Bottom Gasses"
                            }
                    ).render('#bottomGassesTable');


                    bottomGassesTable.delegate("click", removeRow,
                            ".yui3-datatable-data .yui3-datatable-col-remove button", bottomGassesTable);

                    var decoGassesColumns = [
                            {key: 'name', label: "Label"},
                            {key: 'fO2', label: "Fraction O2"},
                            {key: 'fHe', label: "Fraction He"},
                            {
                                key: "remove",
                                allowHtml: true,
                                label:      '',
                                formatter: '<button/>',
                                emptyCellValue: '<button/>'
                            }
                        ];

                    var decoGassesData = [
                        {name: "Oxygen 100%", fO2: 1.0, fHe: 0},
                        {name: "50%", fO2: 0.50, fHe: 0.00},
                        {name: "21/35", fO2: 0.21, fHe: 0.35},
                    ];
                    decoGassesTable = new Y.DataTable.Base(
                            {
                                columnset: decoGassesColumns,
                                recordset: decoGassesData,
                                caption: "Decompression Gasses"
                            }
                    ).render('#decoGassesTable');
                    decoGassesTable.delegate("click", removeRow,
                            ".yui3-datatable-data .yui3-datatable-col-remove button", decoGassesTable);

                    var diveSegmentsColumns = [
                        {key: 'startDepth', label: "Starting Depth"},
                        {key: 'endDepth', label: "Ending Depth"},
                        {key: 'gasName', label: "Gas Used"},
                        {key: 'time',  label: "Time (Minutes)"},
                        {
                            key: "remove",
                            allowHtml: true,
                            label:      '',
                            formatter: '<button/>',
                            emptyCellValue: '<button/>'
                        }
                    ];

                    var diveSegments = [];
                    diveSegmentsTable = new Y.DataTable.Base(
                            {
                                columnset: diveSegmentsColumns,
                                recordset: diveSegments,
                                caption: "Dive Segments"
                            }
                    ).render('#diveSegmentsTable');

                    diveSegmentsTable.delegate("click", removeRow,
                            ".yui3-datatable-data .yui3-datatable-col-remove button", diveSegmentsTable);

                }
        );


        function addGasSelectionToTable(table) {


            YUI().use(
                    'aui-modal',
                    function (Y) {
                        var modal = new Y.Modal(
                                {
                                    bodyContent: 'Please Enter your Gas Details: <br>Gas Name: <input id="gasName"/></br>Select Oxygen Percentage:<input id="fO2"/></br>Select Helium Percentage:<input id="fHe"/>',
                                    centered: true,
                                    destroyOnHide: true,
                                    headerContent: '<h3>Enter New Gas</h3>',
                                    modal: true,
                                    render: '#getGasModal',
                                    resizable: {
                                        handles: 'b, r'
                                    },
                                    visible: true,
                                    width: 450
                                }
                        ).render();

                        modal.addToolbar(
                                [
                                    {
                                        label: 'Cancel',
                                        on: {
                                            click: function () {
                                                modal.hide();
                                            }
                                        }
                                    },
                                    {
                                        label: 'Okay',
                                        on: {
                                            click: function () {

                                                var data = table.get("recordset");

                                                //Validate gas
                                                var gasName = Y.one("#gasName").get("value");
                                                var fO2 = parseInt(Y.one("#fO2").get("value"));
                                                var fHe = parseInt(Y.one("#fHe").get("value"));
                                                if (isNaN(fO2) || fO2 < 0 || fO2 > 1) {
                                                    alert("Fraction of Oxygen must be between 0 and 1 inclusive.");
                                                    return;
                                                }
                                                if (isNaN(fHe) || fHe < 0 || fHe > 1) {
                                                    alert("Fraction of Helium must be between 0 and 1 inclusive.");
                                                    return;
                                                }
                                                if (fO2 + fHe > 1) {
                                                    alert("Fraction of Oxygen and Helium combined, cannot exceed 1, when added together.");
                                                    return;
                                                }

                                                //alert(data);
                                                for (var gasIndex = 0; gasIndex < data.length; gasIndex++) {
                                                    //alert(JSON.stringify(gas) + " gasIndex:" + gasIndex);
                                                    var gas = data[gasIndex];
                                                    if (gas.name == gasName) {
                                                        alert("A Gas with name " + gasName + " already exists in this table. Unable to add.");
                                                        return;
                                                    }
                                                    if (gas.fHe == fHe && gas.fO2 == fO2) {
                                                        alert("A gas with this concentration of gasses already exists: " + gas.name);
                                                        return;
                                                    }
                                                }

                                                data.push({name: gasName, fO2: fO2, fHe: fHe});

                                                table.set("recordset", data);
                                                table.render();

                                                modal.hide();
                                            }
                                        }
                                    }
                                ]
                        );

                    }
            );
        }




        function addDiveSegment() {

            YUI().use(
                    'aui-modal',
                    function (Y) {

                        var bottomGasses = bottomGassesTable.get("recordset");
                        var bottomGasSelectionText = '<select id="diveSegmentBottomGasSelection">';
                        for (var gasIndex in bottomGasses) {
                            var bottomGas = bottomGasses[gasIndex];
                            bottomGasSelectionText = bottomGasSelectionText + '<option value="'+bottomGas.name+'">'+bottomGas.name+'</option>';
                        }
                        bottomGasSelectionText = bottomGasSelectionText + "</select>";
                        //alert(bottomGasSelectionText);
                        var modal = new Y.Modal(
                                {
                                    bodyContent: 'Please Enter your Dive Segment Details: <br>Start Depth (Meters): <input id="diveSegmentStartDepth"/></br>End Depth(Meters):<input id="diveSegmentEndDepth"/></br>Select Bottom Gas:' + bottomGasSelectionText + '</br>Enter the amount of time (minutes):<input id="diveSegmentTime">',
                                    centered: true,
                                    destroyOnHide: true,
                                    headerContent: '<h3>Enter Dive Segment</h3>',
                                    modal: true,
                                    render: '#getGasModal',
                                    resizable: {
                                        handles: 'b, r'
                                    },
                                    visible: true,
                                    width: 450
                                }
                        ).render();

                        modal.addToolbar(
                                [
                                    {
                                        label: 'Cancel',
                                        on: {
                                            click: function () {
                                                modal.hide();
                                            }
                                        }
                                    },
                                    {
                                        label: 'Okay',
                                        on: {
                                            click: function () {
                                                //Validate gas
                                                var startDepth = parseFloat(Y.one("#diveSegmentStartDepth").get("value"));
                                                var endDepth = parseFloat(Y.one("#diveSegmentEndDepth").get("value"));
                                                var gasName = Y.one("#diveSegmentBottomGasSelection").get("value");
                                                var time = parseFloat(Y.one("#diveSegmentTime").get("value"));
                                                if (isNaN(startDepth) || startDepth < 0) {
                                                    alert("Start Depth must be greater than or equal to 0 meters.");
                                                    return;
                                                }
                                                if (isNaN(endDepth) || endDepth < 0) {
                                                    alert("End Depth must be greater than or equal to 0 meters.");
                                                    return;
                                                }
                                                if (isNaN(time) || time < 0) {
                                                    alert("Segment time must be greater than or equal to 0 minutes.");
                                                    return;
                                                }
                                                var diveSegments = diveSegmentsTable.get("recordset");
                                                diveSegments.push({startDepth: startDepth, endDepth: endDepth, gasName: gasName, time: time});
                                                diveSegmentsTable.set("recordset", diveSegments);
                                                diveSegmentsTable.render();
                                                modal.hide();
                                            }
                                        }
                                    }
                                ]
                        );

                    }
            );
        }

    </script>

<!-- Templates -->

<!-- The sandbox template: -->
<script type="text/template" id="tplSandbox">
    <pre class="output"></pre>
    <div class="input">
        <textarea rows="1" placeholder="<%= placeholder %>"></textarea>
    </div>
</script>

<!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
<script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
<span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
<% } %></script>


<!-- Scripts -->

<!-- Underscore, Backbone, backbone-localStorage, jQuery -->
<script src="src/libs/underscore.min.js"></script>
<script src="src/libs/backbone.min.js"></script>
<script src="src/libs/backbone-localStorage.min.js"></script>
<script src="src/libs/jquery.min.js"></script>

<!-- Some extras for the demo: -->
<script src="demo-resources/js/lettering.js"></script>
<script src="demo-resources/js/prettify.js"></script>
<script src="demo-resources/js/DAT.GUI.min.js"></script>

<!-- The JS Sandbox Console script (requires underscore, backbone and jquery): -->
<script src="src/sandbox-console.js"></script>

<!-- When ready, create the model and view -->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        // Create the sandbox:
        window.sandbox = new Sandbox.View({
            el : $('#sandbox'),
            model : new Sandbox.Model()
        });

    });
</script>


</body>
</html>
